h1 {
    small {
        display: inline-block;
        font-size: 1rem;
        margin-left: 1rem;
    }
}

main {
    min-height: calc(100vh - 10rem);
}

pre[data-src] {
    border: none;
    margin: 0.5rem;
}

img {
    box-sizing: border-box;
}

table:not(.horizontal) {
    max-height: none;
}

.collapse > :checked + label + div {
    max-height: none;
}
