@each $key, $value in $colors {
  .text-#{$key} {
    color: $value !important;
  }
}

.text {
  &-center {
    text-align: center;
  }
  &-end {
    text-align: right;
  }
  &-justify {
    text-align: justify;
  }
}

.responsive-label {
  align-items: center;
}

.full-width {
  width: 100% !important;
  max-width: 100% !important;
}

.flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  //align-items: center;
}
